include ../_mixins/_all

block vars
  -title        = ''
  -description  = ''
  -keywords     = ''
  -og_title     = ''
  -url          = ''
  -pageID       = ''
  -path         = '.'

doctype html
html
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')

    link(rel='preconnect' href='//fonts.googleapis.com')
    link(rel='preconnect' href='//fonts.gstatic.com' crossorigin)
    link(href='//fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap' rel='stylesheet')
    link(rel="stylesheet", href="//fonts.googleapis.com/css2?family=Cherish&display=swap")
    //- link(rel="stylesheet", href="./assets/fonts/Brushwell/stylesheet.css")
    link(rel="stylesheet", href="./assets/fonts/NY/stylesheet.css")
    link(rel='stylesheet' href='./assets/js/library/aos/aos.css')
    link(rel="stylesheet", href="//unpkg.com/lenis@1.1.20/dist/lenis.css")
    link(rel='stylesheet' href='./assets/js/library/swiper/swiper-bundle.min.css')
    link(rel='stylesheet' href='./assets/js/library/gallery/lightgallery.min.css')
    link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css")
    if pageID == 'homepage'
      //- link(rel='stylesheet' href='./assets/js/library/swiper/swiper-bundle.min.css')
    if pageID == 'about'
      //- link(rel='stylesheet' href='./assets/js/library/fancybox/fancybox.css')
    link(rel='stylesheet' href='./assets/css/common.css')
    if pageID == 'homepage'
      link(rel='stylesheet' href='./assets/css/home.css')
    if pageID == 'about'
      //- link(rel='stylesheet' href='./assets/css/about.css')
    if pageID == 'signpage'
      //- link(rel='stylesheet' href='./assets/css/sign.css')
    title Template

  body(class=pageID)
    include ../_modules/header-mobile
    include ../_modules/header
    main.main
      block container
    include ../_modules/footer
    //- include ../_modules/group-contact
    script(src='./assets/js/library/jquery/jquery.js')
    script(src='./assets/js/library/aos/aos.js')
    script(src="//unpkg.com/lenis@1.1.20/dist/lenis.min.js")
    script(src='./assets/js/library/jquery/jquery.matchHeight.js')
    script(src='./assets/js/module/MatchHeightModule.js')
    script(src='./assets/js/library/swiper/swiper-bundle.min.js')
    script(src='./assets/js/library/gallery/lightgallery-all.min.js')
    script(src='./assets/js/library/gallery/lightgallery.min.js')
    script(src="//cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js")
    //- script(src="//cdnjs.cloudflare.com/ajax/libs/gsap/1.11.6/TweenLite.min.js")
    //- script(src="//cdnjs.cloudflare.com/ajax/libs/gsap/1.11.6/plugins/CSSPlugin.min.js")
    //- script(src="//cdnjs.cloudflare.com/ajax/libs/gsap/1.11.6/plugins/ScrollToPlugin.min.js")
    //- script(src="//unpkg.co/gsap@3/dist/gsap.min.js")
    //- script(src="//cdn.jsdelivr.net/npm/gsap@3.12.7/dist/ScrollTrigger.min.js")
    if pageID == 'homepage'
      //- script(src='./assets/js/library/swiper/swiper-bundle.min.js')
    if pageID == 'about'
      //- script(src='./assets/js/library/fancybox/fancybox.umd.js')
    script(src='./assets/js/main.js' type='module')
    block scripts
