.pagination {
  margin-top: 4.8rem;
  ul.page-numbers {
    column-gap: 0.4rem;
    justify-content: center;
    @include flex-icenter;

    :is(a, span).page-numbers {
      width: 4rem;
      height: 4rem;
      overflow: hidden;
      user-select: none;
      align-items: center;
      border-radius: 50%;

      transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out,
        border-color 0.4s ease-in-out;

      @include flex-jcenter;

      color: #2e3939;
      @include fz-14;
      font-weight: 600;
      line-height: 1;

      @include max(576px) {
        font-size: 1.2rem;
        width: 3.2rem;
        height: 3.2rem;
      }

      &:has(> *) {
        &:hover {
          background-color: #cbcece;
        }
      }

      &:not(:has(> *)) {
        &:hover {
          background-color: #cbcece;
        }
      }

      > * {
        width: 100%;
        height: 100%;
        display: block;
        text-align: center;
        @include transition;

        display: flex;
        justify-content: center;
        align-items: center;
      }

      &.current {
        background-color: #cbcece;
      }
    }

    span.page-numbers.dots {
      pointer-events: none;
      border: none;
    }

    .page-numbers:is(.prev, .next) {
      &:hover {
        background: transparent;
        color: #89a831;
        img {
          filter: brightness(0) saturate(100%) invert(64%) sepia(13%)
            saturate(1843%) hue-rotate(35deg) brightness(93%) contrast(90%);
        }
      }
      @include fz-16;
      font-weight: 600;
      line-height: 1.6;
      img {
        display: block;
        width: 2.4rem;
        height: 2.4rem;
        object-fit: contain;
        flex-shrink: 0;
        padding: 0;
        @include max(576px) {
          width: 2rem;
          height: 2rem;
        }
      }
    }

    .page-numbers.next img {
      transform: scaleX(-1);
    }

    .page-numbers.prev {
      @include min(576.02px) {
        margin-right: 3.2rem;
      }
    }

    .page-numbers.next {
      flex-direction: row-reverse;
      @include min(576.02px) {
        margin-left: 3.2rem;
      }
    }
    .page-numbers.prev,
    .page-numbers.next {
      width: fit-content;
      border-radius: 0;
      gap: 0.4rem;
      @include max(575.98px) {
        span {
          display: none;
        }
      }
    }
  }
  @include max(575.98px) {
    margin-top: 3.2rem;
  }
}
