.pd-10 {
  padding-block: 5rem;
  @include max(575.98px) {
    padding-block: 2.5rem;
  }
}
.tt {
  @include fz-24;
  color: $color-second;
  font-weight: 600;
}
.swiper-nav {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  .prev,
  .next {
    z-index: 1;
    width: 4.2rem;
    height: 4.2rem;
    border-radius: 50%;
    @include bgImage(center, contain);
    background-image: url("../images/home/prev1.svg");
    // top: 50%;
    // transform: translateY(-50%);
    // position: absolute;
    cursor: pointer;

    &.swiper-button-disabled {
      background-image: url("../images/home/prev.svg");
      pointer-events: none;
    }
  }

  .prev {
    // transform: rotate(-180deg);

    &.swiper-button-disabled {
      // transform: rotate(0deg);
    }
  }

  .next {
    // right: -8.8rem;
    transform: rotate(-180deg);
    &.swiper-button-disabled {
      // transform: rotate(-180deg);
    }

    @include max(1550.98px) {
      // right: 0.5rem;
    }
  }

  // .prev {
  //   left: -8.8rem;

  //   @include max(1550.98px) {
  //     left: 0.5rem;
  //   }
  // }

  @include max(991.98px) {
    // display: none;
  }
}
// Modal
.blocker {
  padding: 1.5rem;
  z-index: 100 !important;
  background: rgba(71, 71, 71, 0.2);
}

.modal {
  @include bgImage(right center);
  background-image: url("../images/home/header-bg.webp");
  max-width: 120rem;
  padding: 0;
  width: 100%;
  // height: 75%;
  min-height: 30rem;
  // height: calc(100vw * (600 / 1728));

  @include max(1024px) {
    width: 100%;
    height: auto;
  }

  iframe {
    width: 100%;
    height: 100%;
  }
}
.modal-img {
  display: flex;
  position: relative;
  // padding-top: 100%;
  // aspect-ratio: 1;
  height: 100%;
  & > img {
    // position: absolute;
    // top: 0;
    // left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
.modal-content {
  // position: absolute;
}
.modal-wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 100%;
}
.modal-l,
.modal-r {
  width: 50%;
  @include max(767.98px) {
    width: 100%;
  }
}
.modal-r {
  .promotion-fr {
    .tt-wrap {
      .tt {
        color: $color-text;
      }
    }
    .form-input {
      color: $color-pri;
      &:focus {
        border-color: $color-pri;
      }
    }
  }
}
