extends _layout/default

block vars
  -title        = 'Account'
  -description  = ''
  -keywords     = ''
  -og_title     = ''
  -url          = ''
  -pageID       = 'accountpage'
  -path         = '.'

block scripts

block container