extends _layout/default

block vars
  -title        = 'Empty'
  -description  = ''
  -keywords     = ''
  -og_title     = ''
  -url          = ''
  -pageID       = 'cartpage'
  -path         = '.'

block scripts

block container