extends _layout/default

block vars
  -title        = 'Homepage'
  -description  = ''
  -keywords     = ''
  -og_title     = ''
  -url          = ''
  -pageID       = 'homepage'
  -path         = '.'

block scripts

block container

  .slides-container
    #slide-1.slide
      .hero-wrap
        .hero-img
          +img("home/hero3.jpg")
        .hero-inner
          .hero-name
            p Vinhomes Wonder City

    #slide-2.slide
      .centered
        h1 It is so easy to navigate through slides
        p
          | You can go back to
          span.go-prev previous slide
          |  or go to the
          span.go-next next slide
          | .
    #slide-3.slide
      .centered
        h1 Use mouse wheel
        p
          | No, really. Try to scroll up and down with the mouse wheel to switch between slides.
    #slide-4.slide
      .centered
        h1 ... Or use keyboard arrows
        p You go to previous and next slide, using up and down keyboard arrows.
    #slide-5.slide
    #slide-6.slide
    #slide-7.slide
    #slide-8.slide