extends _layout/default

block vars
  -title        = 'Sign Up'
  -description  = ''
  -keywords     = ''
  -og_title     = ''
  -url          = ''
  -pageID       = 'signpage'
  -path         = '.'

block scripts

block container
  section.sign
    .container
      .sign-form
        .sign-form_inner
          .sign-form_heading
            h2.sign-title Đăng nhập
            p.sign-desc Vui lòng đăng nhập để truy cập vào tài khoản của bạn.
          form(action="")
            +Input("Email", 'Nhập Email của bạn', 'email', 'input2')
            +password
            .form-group
              button.btn Đăng nhập
            .form-group
              button.btn
                +img("common/ico_google.svg")
                span Đăng nhập với Google
            .has-account
              span Chưa có tài khoản?&#160;
              +self("", "has-account_link", '/sign-up.html')
                span Đăng ký
                +img("common/ico_arrow.svg")


