.footer {
  background: $color-pri;
  overflow: hidden;
  padding: 6.2rem 0;
  @include max(575.98px) {
    padding-block: 4rem;
  }
}
.footer-main {
  display: flex;
  flex-wrap: wrap;
  row-gap: 3.2rem;
  column-gap: 1.6rem;
  justify-content: space-between;
}
.footer-l {
  width: 42%;
  @include max(767.98px) {
    width: 56%;
  }
  @include max(575.98px) {
    width: 100%;
  }
}
.footer-tt {
  @include fz-24;
  font-weight: 700;
  color: $color-second;
  @include max(575.98px) {
    br {
      display: none;
    }
  }
}
.footer-r {
  width: 40%;
  @include max(575.98px) {
    width: 100%;
  }
}
.facebook {
  border-radius: 0.8rem;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
  iframe {
    width: 100%;
    max-height: 30.4rem;
    height: fit-content;
  }
}
.footer-if {
  display: flex;
  flex-direction: column;
  row-gap: 1.6rem;
  margin-top: 3.2rem;
  @include max(575.98px) {
    row-gap: 1.2rem;
    margin-top: 2.4rem;
  }
}
.footer-if_item {
  display: flex;
  gap: 0.4rem;
  & > img {
    width: 1.6rem;
    height: 1.6rem;
    flex-shrink: 0;
  }
  @include transition;
  &:hover {
    color: $color-second;
  }
}
