.footer {
  background: $color-pri;
  overflow: hidden;
  padding-top: 4rem;
  padding-bottom: 12rem;
}
.footer-main {
  display: flex;
  flex-wrap: wrap;
  row-gap: 3.2rem;
  column-gap: 1.6rem;
  justify-content: space-between;
}
.footer-l {
  width: 42%;
  @include max(767.98px) {
    width: 56%;
  }
  @include max(575.98px) {
    width: 100%;
  }
}
.footer-tt {
  @include fz-24;
  font-weight: 700;
  color: $color-second;
  @include max(575.98px) {
    br {
      display: none;
    }
  }
}
.footer-r {
  width: 40%;
  @include max(575.98px) {
    width: 100%;
  }
}
.facebook {
  border-radius: 0.8rem;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
  iframe {
    width: 100%;
    max-height: 30.4rem;
    height: fit-content;
  }
}
.footer-if {
  display: flex;
  flex-direction: column;
  row-gap: 1.6rem;
  margin-top: 3.2rem;
  @include max(575.98px) {
    row-gap: 1.2rem;
    margin-top: 2.4rem;
  }
}
.footer-if_item {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  & > img {
    width: 1.6rem;
    height: 1.6rem;
    flex-shrink: 0;
  }
  @include transition;
  &:hover {
    color: $color-second;
  }
}
.form-fx {
  z-index: 100;
  padding: 1.5rem 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  background: linear-gradient(
    -90deg,
    rgba(227, 211, 187, 1) 75%,
    rgba(198, 137, 70, 1) 100%
  );
}
.form-fx_wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 2.4rem;
}
.form-fx_l {
  width: 30%;
  .footer-tt {
    @include fz-16;
    text-transform: uppercase;
  }
  .footer-if {
    margin-top: 0.8rem;
  }
}
.form-fx_r {
  flex: 1;
  .form-inner {
    display: flex;
    gap: 1.6rem;
    align-items: center;
  }

  .form-label {
    margin-bottom: 0;
    width: calc(100% / 2 - 10rem);
  }
}
