.overlay {
  inset: 0;
  opacity: 0;
  width: 100%;
  height: 100vh;
  z-index: 101;
  position: fixed;
  visibility: hidden;
  pointer-events: none;
  background: rgba(0, 0, 0, 0.5);
  @include transition;
  &.is-active {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
}

.header {
  position: fixed;
  left: 0;
  width: 100%;
  z-index: 100;
  top: 15px;
  padding: 0 1.6rem;
  width: 100%;
  left: 0;
  z-index: 100;
  @include transition;
  &.is-active {
    transform: translateX(30rem);
    // left: 30rem;
  }
  @include max(767.98px) {
    top: 0;
    padding: 0;
  }
}
.header-inner {
  width: fit-content;
  padding: 1.2rem 2.4rem;
  max-width: 1200px;
  margin: 0 auto;
  background: rgba(#e3d3bb, 0.7);
  display: flex;
  gap: 1.6rem 6rem;
  justify-content: space-between;
  border-width: 1px;
  border-radius: 15px;
  border-style: solid;
  border-color: #e3d3bba0;
  transition: all 150ms linear 0s;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.52) 0px 6px 20px -15px;
  height: 8.2rem;
  @include max(991.98px) {
    column-gap: 1.6rem;
    padding: 0.6rem 1.2rem;
  }
  @include max(767.98px) {
    width: 100%;
    border-radius: 0;
    padding: 0.6rem 1.6rem;
    height: 6.5rem;
  }
}
.header-logo {
  flex-shrink: 0;
  display: block;

  img {
    width: 8rem;
    height: auto;
  }
  @include max(991.98px) {
    img {
      width: 7rem;
    }
  }
}
.header-menu {
  flex: 1;
  @include max(767.98px) {
    display: none;
  }
}
.menu-list {
  display: flex;
  align-items: center;
}
.menu-link {
  font-family: var(--font-third);
  @include fz-18;
  color: $color-text;
  display: inline-block;
  padding: 0 2.4rem;
  @include transition;
  &:hover {
    color: $color-second;
  }
  @include max(1199.98px) {
    padding: 0 1.6rem;
  }
  @include max(991.98px) {
    padding: 0 0.8rem;
  }
}
.hide-sitename {
  visibility: visible;
  opacity: 0;
  width: 0;
  height: 0;
}
.menu-item {
  &.current-menu-item {
    .menu-link {
      color: $color-second;
    }
  }
  &:hover {
    .menu-link {
      color: $color-second;
    }
  }
}

.menu-bar {
  height: 100%;
  width: 2.8rem;
  display: block;
  cursor: pointer;
  padding: 0 1.5rem;
  user-select: none;
  position: relative;
  @include min(768px) {
    display: none;
  }
}
.menu-icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #c68946;
  display: block;
  height: 0.22rem;
  transition: background ease 0.3s, top ease 0.3s 0.3s, transform ease 0.3s;
  width: 2.8rem;
  &::before {
    top: -0.7rem;
  }
  &::after {
    top: 0.7rem;
  }
  &::before,
  &::after {
    background: #c68946;
    content: "";
    display: block;
    height: 0.22rem;
    position: absolute;
    transition: background ease 0.3s, top ease 0.3s 0.3s, transform ease 0.3s;
    width: 2.8rem;
  }
}
// header mobile
.header-mobile {
  @include min(768px) {
    display: none;
  }
  display: flex;
  flex-direction: column;
  // padding-top: 2rem;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 30rem;
  height: 100vh;
  z-index: 102;
  background-color: #fff;
  transform: translateX(-100%);
  pointer-events: none;
  @include transition;
  &.is-active {
    transform: translateX(0);
    pointer-events: auto;
  }
  .header-menu {
    display: block;
    padding-top: 4rem;
  }
  .menu-list {
    flex-direction: column;
    align-items: flex-start;
  }
  .menu-item {
    width: 100%;
    padding: 1rem 2rem;
    border-bottom: 1px solid #e3d3bb9e;
    a {
      display: block;
      width: fit-content;
    }
  }

  .dropdown {
    &::after {
      // content: unset;
      top: 2.2rem;
      right: 2rem;
    }
  }
  .child {
    position: relative;
    box-shadow: none;
    top: unset;
    right: unset;
    left: unset;
    transform: unset;
    display: block;
    opacity: 1;
    background: transparent;
    border: none;
    padding: 1rem 0 0 1.5rem;
    &::before {
      content: unset;
    }
    .menu-item {
      @include fz-16;
      font-weight: 500;
      text-align: left;
      font-style: italic;
      padding: 1rem 0;
      &:last-child {
        border-bottom: 0;
        padding-bottom: 0;
      }
      &.current-menu-item {
        color: $color-second;
      }
    }
  }
}
.header-close {
  width: fit-content;
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 0;
  padding: 1rem;
  z-index: 10;
  img {
    width: 2rem;
  }
}

// ============ header account ========
.dropdown {
  position: relative;
  padding-right: 2rem;
  &::after {
    position: absolute;
    content: "";
    @include box(1.4rem, 0.6rem);
    @include bgImage(center, contain);
    background-image: url("../images/common/ico_arrow_1.svg");
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    @include transition;
  }
  @include min(992px) {
    &:hover {
      &::after {
        transform: translateY(-50%) rotate(-180deg);
      }
      .child {
        display: flex;
        opacity: 1;
      }
    }
  }
  &.is-active {
    &::after {
      transform: translateY(-50%) rotate(-180deg);
    }
  }
}

.child {
  position: absolute;
  top: calc(100% + 1rem);
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  min-width: 20.4rem;
  padding: 1rem;
  // border: 1px solid $color-second;
  box-shadow: -1px 3px 19px -1px rgba(0, 0, 0, 0.22);
  -webkit-box-shadow: -1px 3px 19px -1px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: -1px 3px 19px -1px rgba(0, 0, 0, 0.22);
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  display: none;
  &::before {
    position: absolute;
    background-color: transparent;
    content: "";
    top: -2rem;
    width: 85%;
    height: 3rem;
    left: 0;
    z-index: 5;
  }
  .menu-item {
    color: $color-text;
    width: 100%;
    text-align: center;
    @include fz-15;
    font-weight: 400;
    padding: 0.4rem 0;
    &::before {
      content: unset;
    }
    &.current-menu-item {
      font-weight: 600;
    }
    &:hover {
      color: $color-second;
    }
  }
}
