footer.footer
  .container
    .footer-main
      .footer-l
        p.footer-tt CÔNG TY CỔ PHẦN DỊCH VỤ&#160;
          br
          | BẤT ĐỘNG SẢN AN QUÝ HƯNG
        .footer-if
          a.footer-if_item(href="#")
            +img("home/home.svg")
            span Trụ sở: Y01-03 An Phú Shop Villa, Khu đô thị mới Dương Nội, Quận Hà Đông, TP. Hà Nội
          .footer-if_item
            +img("home/phone.svg")
            span Hotline: 0866 36 16 16
          .footer-if_item
            +img("home/domain.svg")
            span Website: www.anquyhung.vn

      .footer-r
        .facebook
          iframe(src='https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fhangquangchau24h%2F&show-posts=true&width=340&height=500&small_header=false&adapt_container_width=false&hide_cover=false&show_facepile=false&appId' width='340' height='500' style='border:none;overflow:hidden' scrolling='no' frameborder='0' allowfullscreen='true' allow='autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share')
