.group-contact.is-active.js-contact
  .group-contact_item.js-top
    a(href="/" rel="nofollow")
      +img("common/icon_top.svg")
  .group-contact_item
    .phonering-alo-phone
      .phonering-alo-ph-circle-fill
      a.pps-btn-img(href='tel:', title='' target="_blank")
        .phonering-alo-ph-img-circle
          +img("common/document.svg")
  .group-contact_item
    .phonering-alo-phone
      .phonering-alo-ph-circle-fill
      a.pps-btn-img(href='tel:', title='' target="_blank")
        .phonering-alo-ph-img-circle
          +img("common/call_1.svg")