.btn {
  @include fz-18;
  display: inline-block;
  text-align: center;
  padding: 1.2rem 2.4rem;
  border-radius: 4rem;
  position: relative;
  transition: 0.3s ease all;
  z-index: 1;
  overflow: hidden;
  font-family: var(--font-pri);
  @include fz-15;
  font-weight: 600;
  background: $color-second;
  color: $color-pri;
  &::before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: "";
    background-color: $color-text;
    z-index: -1;
  }

  &:hover,
  &:focus {
    color: white;
  }

  &:hover:before,
  &:focus:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
  }
}

.btn--second {
  background: $color-second;
  color: #fff;
}
